name: CI

on:
  push:
  pull_request:

jobs:
  rust:
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -D warnings
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - name: Install protoc
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler

      - name: Format
        run: cargo fmt --all -- --check

      - name: Build
        run: cargo build --workspace

      - name: Build no_std
        run: rustup target add x86_64-unknown-none && cargo build -p prost-canonical-serde --no-default-features --target x86_64-unknown-none

      - name: Test
        run: cargo test --workspace

      - name: Clippy
        run: cargo clippy --workspace
